body {
    background-color:rgb(49, 49, 49)
}
h1 {
    
    text-align: center;
    font-family: "Schoolbell", serif;
    font-weight: 400;
    font-style: bold;
}

h2 {
    align-items: left;
}